.navbar-container {
    display: flex;
    flex-direction: column;
    /* background-color: lightgray; */
    background-color: #EEF5FF;
    border-radius: 15px;
}

.navbar-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}