.principle-figures {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.principle-figures > img {
    width: 500px;
}

.mipg-principle {
    font-style: italic;
}

.connecting-component {
    margin-left: 50px;
}

.principle-videos {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.principle-videos > iFrame {
    border: none;
    border-radius: 3px;
    width: 500px;
    height: 300px;
}